fastapi
uvicorn[standard]
python-multipart
sqlmodel
SQLAlchemy
psycopg2-binary

python-jose[cryptography]

passlib[bcrypt]==1.7.4
bcrypt==4.0.1

pydantic-settings
email-validator
python-dotenv
jinja2

pdfminer.six
python-docx
PyPDF2

scikit-learn
sentence-transformers
chromadb
faiss-cpu
spacy

pytesseract
pdf2image
Pillow

pytest
httpx
alembic

prometheus_client
celery
redis

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
