# Database
DATABASE_URL=sqlite:///./resumes.db

# JWT
JWT_SECRET_KEY=please_change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# SMTP email (optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=hardik.badege1@gmail.com
SMTP_PASSWORD=pfooejnnvpsenfbk
EMAIL_FROM=hardik.badege1@gmail.com

# Upload dir (optional)
UPLOAD_DIR=./uploads
SELECTION_THRESHOLD=0.3
CORS_ORIGINS=["http://localhost:3000"]
